{% extends "base.html" %}

{% block content %}

	<section class="container">

		<section class="container__content">
			
			<div class="header">
				<i style="color: white; font-style: normal;">{{ session_user }}</i>
				<form class="search" action="" method="POST">
					<input type="text" name="search" placeholder="Search" class="search-bar">
					<input type="submit" name="search-bar" style="display: none;" value="Search">
				</form>
				{% with messages = get_flashed_messages() %}
				  {% if messages %}
				    {% for message in messages %}
				      <i class="alert">{{ message }}</i>
				    {% endfor %}
				  {% endif %}
				{% endwith %}
				{% block body %}{% endblock %}
			</div>

			<div class="navbar">
				<span>Sequence</span>
				<span>Bar Code</span>
				<span>Product</span>
				<span>Cost</span>
				<span>Selling</span>
				<span>Action</span>
				<span>Options</span>
			</div>

			<div class="content">
				{% if items != None %}
					{%  for item in items %}
					<!-- Modal Update -->
						<div class="modal-container-update">
							<div class="update-popup">
								<div>{{ item.product }}</div>
							</div>
						</div>
						<div class="content__info">
							<div>{{ item.id }}</div>
							<div>{{ item.bar_code }}</div>
							<div>{{ item.product }}</div>
							<div>Php {{ item.cost }}</div>
							<div>{{ item.selling }}</div>
							<div>{{ item.action }}</div>
							<div class="info__options">
								<button class="update">Update</button>
								<a href="{{ url_for('views.delete', id=item.id) }}" class="delete">Delete</a>
							</div>
						</div>
					{% endfor %}

				{% else %}
					<span>None</span>
				{% endif %}
			</div>

			<div class="footer">
				<div class="add-product">
					<img src="{{ url_for('static', filename='img/add.svg') }}">
					<span>Add Products</span>
				</div>
			</div>

		</section>

		<!-- Modal Pop-up -->

		<div class="modal-popup-add-product">
			<div class="add__product">
				<span>Add Product</span>
				<span class="close_btn">+</span>
				<form class="product" method="POST">
					<input type="text" name="bar_code" class="bar_code" placeholder="Enter Bar Code" required>
					<input type="text" name="product" class="product" placeholder="Enter Product Name" required>
					<input type="number" name="cost" step="any" class="cost" placeholder="Enter Cost" required>
					<input type="number" name="selling" class="selling" placeholder="Enter Selling" required>
					<input type="text" name="action" class="action" placeholder="Enter Action" required>
					<input type="submit" name="add" class="add" value="Add Product">
				</form>
			</div>
		</div>

	</section>

{% endblock content %}