{% extends "base.html" %}

{% block content %}

	<section class="container">
		<!-- LOGIN ACCOUNT -->
		<div class="content-header-login">
			<form class="header_login-form" method="POST">	
				<span class="form__title">
					Login
				</span>
				<input type="text" name="username" placeholder="Enter Username">
				<input type="password" name="password" placeholder="Enter Password">
				<input type="submit" name="Login" value="Submit">
			</form>
		</div>

		<!-- REGISTER ACCOUNT -->
		<div class="content-header-register">
			<form class="header_login-form" method="POST">	
				<span class="form__title">
					Register
				</span>
			</form>
			<a href="#" onclick="openNewWindow('{{ url_for('auth.login') }}', 800, 600)" target="_blank">New Tab</a>
		</div>

		<script>
        function openNewWindow(url, height, width) {
            // Open a new window with the given URL and set some properties
            var newWindow = window.open(url, '_blank', 'toolbar=0,location=0,menubar=0, width=' + width + ', height=' + height );
	        }
	        newWindow.addEventListener('load', function() {
                newWindow.print();
            });
	    </script>

	</section>

{% endblock content %}