@import 'base.css';

.container{
	background: var(--white);
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

/* Main Content */
.container__content{
	width: 70%;
	height: 80%;
	background: var(--white);
	border: 1px solid var(--black);
	box-shadow: 10px 10px var(--black);

	display: flex;
	flex-direction: column;
	margin: 0;
}

/* Header content search bar */
.container__content .header{
	flex-grow: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-bottom: 1px solid var(--black);
	padding: 0.5rem;
	background: var(--black);
}
.search-bar{
	border: none;
	outline: none;
	font-size: 1rem;
	text-align: center;
	border-radius: 2rem;
	background: var(--white);
	padding: 0.2rem;
	color: var(--black);
}
.alert{
	background: green;
	color: var(--white);
	padding: 0.4rem;
	margin-top: .5rem;
}

/* Nav Bar content */
.container__content .navbar{
	border-bottom: 1px solid var(--black);
	flex-grow: 0;
	display: flex;
	margin-bottom: 0rem;
}
.container__content .navbar span{
	width: 20%;
	text-align: center;
	border-right: 1px solid var(--black);
	font-size: 1.2rem;
	font-weight: bold;
	color: var(--black);
}
.container__content .navbar span:last-child{
	border-right: none;
}

/* Main content info */
.container__content .content{
	border-bottom: 1px solid var(--black);
	flex-grow: 1;
	padding: 1rem;
	overflow: scroll;
}
.content__info{
	/*background: red;*/
	padding: 1rem;
	display: flex;
	flex-direction: row;
	border: 1px solid var(--black);
	box-shadow: 3px 3px var(--black);
	margin-bottom: 1rem;
	background: var(--white);
}
.content__info div{
	width: 20%;
	text-align: center;
	color: var(--black);
	font-weight: bold;
	/*border-right: 1px solid var(--black);*/

	display: flex;
	justify-content: center;
	align-items: center;
}
.content__info div:last-child{
	border: none;
}
.info__options{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 0.5rem;
}
.info__options button{
	width: 50%;
	border: none;
	outline: none;
	cursor: pointer;
}
.info__options button:first-child{
	background: var(--black);
	/*border: 1px solid var(--white);*/
	color: var(--white);
	margin-right: 0.5rem;
}
.info__options .delete{
	text-decoration: none;
	font-weight: lighter;
	font-size: 1rem;
	background: var(--red);
	color: var(--white);
	padding-left: 0.2rem;
	padding-right: 0.2rem;
}


/* Footer */
.container__content .footer{
	flex-grow: 0;
	padding: 0.5rem;
}

.container__content .footer .add-product{
	display: flex;
	justify-content: center;
	align-items: center;
	background: var(--black);
	margin-right: 40%;
	margin-left: 40%;
	cursor: pointer;
}
.container__content .footer .add-product img{
	filter: invert(99%) sepia(3%) saturate(84%) hue-rotate(310deg) brightness(111%) contrast(89%);
	width: 2rem;
	height: 2rem;
}
.container__content .footer .add-product span{
	font-weight: lighter;
	color: var(--white);
}


/* Modal Pop-up Adding Products*/
.modal-popup-add-product{
	position: absolute;
	top: 0;
	left: 0;
	background: rgba(77, 69, 93, 0.4);
	height: 100vh;
	width: 100vw;

	display: none;
	justify-content: center;
	align-items: center;
}

.add__product{
	position: relative;
	width: 30%;
	height: auto;
	background: var(--white);
	box-shadow: 3px 3px 5px 2px var(--black);
	z-index: 10;
	border-radius: 1rem;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.add__product span{
	font-size: 2rem;
}
.add__product form{
	display: flex;
	flex-direction: column;
	width: 70%;
}

.add__product form input{
	padding: 1rem;
	outline: none;
}
.add__product form input:last-child{
	outline: none;
	border: none;
	background: var(--black);
	color: var(--white);
	cursor: pointer;
	margin-top: 1rem;
	margin-bottom: 1rem;
}

.close_btn{
	position: absolute;
	top: 0;
	left: 90%;
	transform: rotate(45deg);
	cursor: pointer;
}

/* Modal pop-up Update */
.modal-container-update{
	border-radius: 0.6rem 0.6rem 0rem 0rem;
	display: flex;
	background: var(--black);
	height: 0;
	transition: height 0.2s;
	display: flex;
	overflow: hidden;
	justify-content: center;
	align-items: center;
}
.update-popup form{
/*	background: red;*/
	display: flex;
	flex-direction: row;
	margin: 0rem 1rem 0rem 1rem;
}
.update-popup form input{
	width: 20%;
	outline: none;
	margin-right: 1rem;
	text-align: center;
	font-weight: bold;
	background: var(--white);
	color: var(--black);
	border: none;
}
.update-popup form input:first-child{
	background: var(--black);
	border: 1px solid var(--white);
	color: var(--white);
}
.update-popup form input:last-child{
	margin-right: 0rem;
	border: 1px solid var(--white);
	background: var(--black);
	color: var(--white);
	cursor: pointer;
}
